{%- if theme.friendly_links %}
  <div class="links-of-author animated">
  <div class="site-author-name" itemprop="name">Friendly Links</div>
    {%- for name,link in theme.friendly_links %}
    
      <span class="links-of-flinks-item">
        {%- set sidebarURL = link.split('||')[0] | trim %}
        {%- set sidebarText = '' if (theme.social_icons.enable and theme.social_icons.icons_only) else name %}
        {{ next_url(sidebarURL, sidebarText, {title: name + ' → ' + sidebarURL, rel: 'noopener me'}) }}
      </span>
    {%- endfor %}
  </div>
{%- endif %}
