{%- if theme.friendly_links %}
<div class="site-author animated" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <p class="site-author-name" itemprop="name">Friendly Links</p>

    {%- for name,link in theme.friendly_links %}
        <div class="site-description" itemprop="description">
        <a href="{{link}}" style="color:inherit" >{{name}}</a>
       </div>
    {%- endfor %}
</div>
{%- endif %}
